@{
    ViewData["Title"] = "Home Page";
    //https://youtu.be/kTnglynGpxQ
}

<div class="text-center">
    <h1 class="display-4">ASOCIACION CASA JUVENIL DE PAZ</h1>
    <hr />
    <div>
        <h2>¿Quiénes somos? </h2>
        <div class="text-justify">
            <p>
                Somos una Asociación sin fines de lucro que contribuye a minimizar los índices de
                violencia que afectan a la niñez, adolescencia y juventud de las comunidades y escuelas
                del municipio de Soyapango, a través de la implementación de  programas que fomentan valores,
                principios y una mentalidad de progreso.
            </p>
        </div>
        <h2>¿Qué hacemos? </h2>
        <div class="text-justify">
            <p>
                Promover una educación con valores espirituales, morales y cívicos en niños, niñas,
                adolescentes  y jóvenes con el propósito de minimizar el impacto negativo que ejercen la
                falta de valores y el clima de violencia que les rodea; guiándoles hacia el descubrimiento de
                su verdadera identidad y su potencial.
            </p>
        </div>
    </div>

    <div>
        <div>
            <h1>Programa generando valores</h1>
        </div>
        <div class="text-justify">
            <ol>
                <li>Proyecto Acción Integral en la Educación para la niñez y la adolescencia. Año 2017</li>
                <li>Numero de beneficiarios</li>
                <li>
                    Los beneficiarios son 2 centro educativos (Institución pública Centro Escolar José
                    Antonio Cañas, Código: 11732, ubicada en final calle Roosevelt poniente número 57,
                    Zona urbana,  Soyapango, San Salvador, El Salvador. y Centro Escolar Leonardo Azcuaga,
                    código: 11733 calle Roosevelt oriente # 40 Soyapango Salvador, El Salvador) de Soyapango y
                    los niños habitantes de los alrededores de Casa juvenil de Paz.
                </li>
            </ol>
        </div>
    </div>
</div>
